In [7]:
import sqlite3
DATABASE = 'application.db'

# Create the table if it doesn't exist
def create_table():
    with sqlite3.connect(DATABASE) as conn:
        c = conn.cursor()
        c.execute('''CREATE TABLE IF NOT EXISTS messages (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                user_input TEXT,
                assistant_message TEXT,
                source_pages TEXT,
                time_user_input_sent TEXT,
                time_assistant_answered TEXT
            )''')
        conn.commit()

create_table()

In [8]:
def select_messages():
    with sqlite3.connect(DATABASE) as conn:
        c = conn.cursor()
        c.execute('''SELECT *
                     FROM messages ORDER BY time_user_input_sent DESC''')
        messages = c.fetchall()
    return messages

In [4]:
import sqlite3
def drop_messages_table():
    with sqlite3.connect(DATABASE) as conn:
        c = conn.cursor()
        c.execute("DROP TABLE IF EXISTS messages")
        conn.commit()
drop_messages_table()

In [9]:
messages = select_messages()
for message in messages:
    print(message)

In [12]:
!pip install pandas

/Users/100mentors/Documents/projects/diploma_project/topological rag/myenv/bin/pip: line 2: /Users/100mentors/Documents/diploma_project/topological rag/myenv/bin/python: No such file or directory
/Users/100mentors/Documents/projects/diploma_project/topological rag/myenv/bin/pip: line 2: exec: /Users/100mentors/Documents/diploma_project/topological rag/myenv/bin/python: cannot execute: No such file or directory

In [19]:

import pandas as pd
def select_layout_analysis():
    with sqlite3.connect(DATABASE) as conn:
        c = conn.cursor()
        c.execute('''SELECT * FROM layout_analysis''')
        layout_analysis = c.fetchall()
    return layout_analysis
data = select_layout_analysis()

# Convert to a pandas DataFrame
df = pd.DataFrame(data, columns=["id", "text", "label", "page", "poly"])
print(df)

      id                                               text  \
0      1                          ®\n\nCheck for\nupdates\n
1      2  Topology-aware Retrieval Augmentation for Text...
2      3  Yu Wang\nyuwang@uoregon.edu\nUniversity of Ore...
3      4  Alexa Siu\nasiu@adobe.com\nAdobe Research\n\nS...
4      5  Xin Wang\nxin.wang.1@vanderbilt.com\nVanderbil...
..   ...                                                ...
242  243  [73] Tong Zhao, Julian McAuley, and Irwin King...
243  244  [74] Hao Zhou, Tom Young, Minlie Huang, Haizho...
244  245  [75] Jing Zhu, Xingyu Lu, Mark Heimann, and Da...
245  246  aii htc — Saad | EEE LULL SLLAIVE LEELOCT PEAL...
246  247                                             2452\n

                   label     page  \
0         Picture-0-0.91   page_1
1    SectionHeader-1-1.0   page_1
2            Text-2-0.97   page_1
3            Text-3-0.99   page_1
4             Text-4-1.0   page_1
..                   ...      ...
242      ListItem-28-1.0  page_11
243      ListItem-29-1.0  page_11
244      ListItem-30-1.0  page_11
245         Text-31-0.87  page_11
246    PageFooter-32-1.0  page_11

                                                  poly
0    [[7.39599609375, 183.69140625], [78.791015625,...
1    [[193.2421875, 217.236328125], [1447.125, 217....
2    [[259.58203125, 297.94921875], [513.1875, 297....
3    [[276.71484375, 452.05078125], [486.890625, 45...
4    [[225.515625, 604.1015625], [535.5, 604.101562...
..                                                 ...
242  [[844.6875, 996.09375], [1494.9375, 996.09375]...
243  [[845.484375, 1081.0546875], [1494.140625, 108...
244  [[843.890625, 1145.5078125], [1492.546875, 114...
245  [[892.5, 1200.1182861328125], [1498.125, 1200....
246  [[790.1015625, 2014.03125], [841.5, 2014.03125...

[247 rows x 5 columns]